:root {
  --base-white: rgb(255, 255, 255);
  --base-background: rgb(250, 250, 250);
  --base-card: rgb(243, 242, 242);
  --base-input: rgb(238, 237, 237);
  --base-button: rgb(230, 229, 229);
  --base-hover: rgb(215, 213, 213);
  --base-label: rgb(141, 134, 134);
  --base-text: rgb(87, 79, 77);
  --base-subtitle: rgb(64, 57, 55);
  --base-title: rgb(39, 34, 33);
  --brand-purple-dark: rgb(75, 41, 149);
  --brand-purple: rgb(128, 71, 248);
  --brand-purple-light: rgb(236, 229, 249);
  --brand-yellow-dark: rgb(196, 127, 23);
  --brand-yellow: rgb(219, 172, 44);
  --brand-yellow-light: rgb(241, 233, 201);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--base-background);
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
  color: var(--base-text);
  font-size: 1rem;
  line-height: 130%;
  font-weight: 400;
}

button {
  cursor: pointer;
}